body{background-image: url("img/687.jpg");
        background-repeat: repeat; }
        ul{list-style-type:none;
   overflow:hidden; 
   background-color: #333;
   }
ul li{ float:left;}
li a{display: block;
     color: white;
text-decoration:none;
text-align:center;
padding: 15px 20px;}
li a:hover {background-color: lightblue;} 
h1{position: relative;
     left: 525px;
     width:225px;
     margin: 25px;
     padding: 25px;}
h1{background-color: lightblue;
    color: black;}
    h3 {background-color: black;
    color: yellow;
    padding: 5px;
    width: px;}
    p {position: relative;
    left: 200px;
    width:65%;
    margin: 20px;
    padding: 10px 20px;
    background: blue;
    background: -webkit-linear-gradient(lightblue, white);
    background: -moz-linear-gradient(lightblue, white);
    background: linear-gradient(lightblue, white);
    border: 2px solid blue;
    border-radius: 8px;}
p img{display: block;
         margin: auto; 
         width: 50%;
         transition: width 2s;
         -webkit-transition: width 2s;}    
p img:hover{width: 70%;} 
ul{list-style-type:none;
   overflow:hidden; 
   background-color: #333;
   }



